.contact{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-text{
    background: rgba(240, 238, 238, 0.89);
    padding: 15px
}
.contact-info p{
    font-weight: 500;
}
