.card {
    max-height: 700px;
    border: none !important;
}
.product .card {
   
    transition: all 0.3s;
    cursor: pointer;
}
.card-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.card-img img {
    width: 100%;
    height: 100%;
    border: none;
    object-fit: contain;
    transition: all 0.5s ease-in-out;
}
.card-img img:hover {
    transform: scale(1.1);
}
.card .panel {
    position: absolute;
    top: 15px;
    right: -10%;
    width: 45px;
    display: flex;
    align-items: center;
    flex-flow: column;
    opacity: 0;
    transition: all 0.5s;
}
.card .panel .fas {
    text-decoration: none;
    font-size: 20px;
    color: crimson;
    margin: 15px 0;
}

.card:hover .panel {
    right: 15px;
    opacity: 1;
}

.card-footer {
    background: none !important;
    border: none !important;
}


.description {
    font-size: 16px !important;
}

.product-icon {
    color: goldenrod;
    font-size: 20px;
}

.price {
    color: rgb(240, 6, 6);
    font-weight: 700;
    text-align: justify;
}

.spiner {
    width: 500px;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}