.bg{
    background: url('https://images.unsplash.com/photo-1641410290033-daabfbf26e1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

.counter-main{
    padding: 40px;
    color: rgba(255, 255, 255, 0.829);
    border-radius: 5px;
}
.counter_number{
    width: 100px;
    height: 100px;
     line-height: 100px;
    background: #fff;
    color: rgba(17, 17, 17, 0.829);
    border-radius: 50%;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    
    .counter-main{
        flex-direction: column;
    }
    .counter_number{
        width: 100px;
        height: 100px;
        line-height: 100px;
        background: #fff;
        color: rgb(17, 17, 17);
        border-radius: 50%;
        text-align: center;
        margin: 10px;
    }
}
